<!DOCTYPE html>
<html lang="'en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Processed</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />

    <style>
      body {
        font: Arial, sans-serif;
        font-size: 1rem;
        background-color: rgb(244, 250, 249);
      }
      .Head {
        font: Arial, sans-serif;

        text-align: center;

        align-items: center;
      }

      table {
        border: 1px solid black;
        border-collapse: collapse;
        width: 100%;
        border-radius: 8px;
        overflow: hidden;
      }

      th,
      td {
        border: 1px solid black;
        padding: 8px;
        text-align: center;
      }

      th {
        background-color: #ecd8d8;
      }

      tr:hover {
        background-color: #f2f2f2;
      }

      .div0 {
        margin: 50px;
        padding: 20px;
      }

      .div1 {
        margin: 10px;
        padding: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        height: 600px;
        overflow-x: auto;
        border-radius: 8px;
      }
      .div2 {
        max-height: 60px;
      }
      .btn-primary {
        margin: 0.5rem;
      }
    </style>
  </head>
  <body>
    <div class="div0">
      <div class="Head">
        <div>
          Real time data from www.visualcrossing.com {{date}} Location:Dublin
        </div>
        <div></div>
      </div>

      <div class="div1">
        <div class="div2">
          <button class="btn btn-primary" onclick="showHourly()">Hourly</button>
          <button class="btn btn-primary" onclick="showDaily()">Daily</button>

          <div class="hourly"  >
            <table class="table table-striped">
              <tr>
                <th>Epoch_Time</th>
                <th>Time</th>
                <th>Temperature_(°C)</th>
                <th>Feelslike</th>
                <th>Humidity</th>
                <th>Dew</th>
                <th>Precip</th>
                <th>Precipprob</th>
                <th>Snow</th>
                <th>Snowdepth</th>
                <th>Preciptype</th>
                <th>Windgust</th>
                <th>Windspeed</th>
                <th>Winddir</th>
                <th>Pressure</th>
                <th>Visibility</th>
                <th>cloudcover</th>
                <th>Solarradiation</th>
                <th>Solarenergy</th>
                <th>UVindex</th>
                <th>Severerisk</th>
                <th>Conditions</th>
              </tr>
              {% for hour in all_data %}
              <tr>
                <td>{{ hour.datetimeEpoch }}</td>
                <td>{{ hour.datetime }}</td>
                <td>{{ hour.temp }}</td>
                <td>{{ hour.feelslike }}</td>
                <td>{{ hour.humidity }}</td>
                <td>{{ hour.dew }}</td>
                <td>{{ hour.precip }}</td>
                <td>{{ hour.precipprob }}</td>
                <td>{{ hour.snow }}</td>
                <td>{{ hour.snowdepth }}</td>
                <td>{{ hour.preciptype }}</td>
                <td>{{ hour.windgust }}</td>
                <td>{{ hour.windspeed }}</td>
                <td>{{ hour.winddir }}</td>
                <td>{{ hour.pressure }}</td>
                <td>{{ hour.visibility }}</td>
                <td>{{ hour.cloudcover }}</td>
                <td>{{ hour.solarradiation }}</td>
                <td>{{ hour.solarenergy }}</td>
                <td>{{ hour.uvindex }}</td>
                <td>{{ hour.severerisk }}</td>
                <td>{{ hour.conditions }}</td>
              </tr>
              {% endfor %}
            </table>
          </div>

          <div class="daily" style="display: none;">
            <div class="div1">
              <div class="div2">
                <table class="table table-striped">
                  <tr>
                    <th>Date</th>
                    <th>Temperature_max</th>
                    <th>Temperature_min</th>
                    <th>Temperature_mean</th>
                    <th>Feelslike_max</th>
                    <th>Feelslike_min</th>
                    <th>Feelslike_mean</th>
                    <th>mean_Humidity</th>
                    <th>mean_Dew_Dew</th>
                    <th>mean_Precip</th>
                    <th>mean_Snow</th>
                    <th>mean_Snowdepth</th>
                    <th>mean_Windgust</th>
                    <th>mean_Windspeed</th>
                    <th>mean_Winddir</th>
                    <th>mean_Pressure</th>
                    <th>mean_Visibility</th>
                    <th>mean_Cloudcover</th>
                    <th>mean_Solarradiation</th>
                    <th>mean_Solarenergy</th>
                    <th>mean_Uvindex</th>
                    <th>mean_Severerisk</th>
                  </tr>
                  {% for daily_parameters_dict in parameter_dicts %}
                  <tr>
                    <td>{{ daily_parameters_dict.date }}</td>
                    <td>{{ daily_parameters_dict.Temperature_max }}</td>
                    <td>{{ daily_parameters_dict.Temperature_min }}</td>
                    <td>{{ daily_parameters_dict.Temperature_mean }}</td>
                    <td>{{ daily_parameters_dict.Feelslike_max }}</td>
                    <td>{{ daily_parameters_dict.Feelslike_min }}</td>
                    <td>{{ daily_parameters_dict.Feelslike_mean }}</td>
                    <td>{{ daily_parameters_dict.mean_Humidity }}</td>
                    <td>{{ daily_parameters_dict.mean_Dew_Dew }}</td>
                    <td>{{ daily_parameters_dict.mean_Precip }}</td>
                    <td>{{ daily_parameters_dict.mean_Snow }}</td>
                    <td>{{ daily_parameters_dict.mean_Snowdepth }}</td>
                    <td>{{ daily_parameters_dict.mean_Windgust }}</td>
                    <td>{{ daily_parameters_dict.mean_Windspeed }}</td>
                    <td>{{ daily_parameters_dict.mean_Winddir }}</td>
                    <td>{{ daily_parameters_dict.mean_Pressure }}</td>
                    <td>{{ daily_parameters_dict.mean_Visibility }}</td>
                    <td>{{ daily_parameters_dict.mean_Cloudcover }}</td>
                    <td>{{ daily_parameters_dict.mean_Solarradiation }}</td>
                    <td>{{ daily_parameters_dict.mean_Solarenergy }}</td>
                    <td>{{ daily_parameters_dict.mean_Uvindex }}</td>
                    <td>{{ daily_parameters_dict.mean_Severerisk }}</td>
                  </tr>
                  {% endfor %}
                </table>
              </div>
            </div>

          </div>
    



        </div>
      </div>
      <div>
        <div>
          <a href="/view-data">View datas fetched from MongoDB</a>
        </div>
        <div>
          <a href="/processed-data">View processed data </a>
        </div>
        <div>
          <a href="/processed-data-minmax">Daily data </a>
        </div>
      </div>
    </div>

    <script>
      function showHourly() {
        document.querySelector('.hourly').style.display = 'block';
        document.querySelector('.daily').style.display = 'none';
      }
  
      function showDaily() {
        document.querySelector('.hourly').style.display = 'none';
        document.querySelector('.daily').style.display = 'block';
      }
    </script>




  </body>
</html>
