<!DOCTYPE html>
<html lang="'en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            background-color: rgb(220, 236, 100);
        }
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }

        th {
            background-color: #d9cf18;
        }

    </style>
</head>
<body>
    <div>
        <table>
            <tr>
                <h1>processced</h1>
                <th>Epoch_Time</th>
                <th>Time</th>
                <th>Temperature_(°C)</th>
                <th>Feelslike</th>
                <th>Humidity</th>
                <th>Dew</th>
                <th>Precip</th>
                <th>Precipprob</th>
                <th>Snow</th>
                <th>Snowdepth</th>
                <th>Preciptype</th>
                <th>Windgust</th>
                <th>Windspeed</th>
                <th>Winddir</th>
                <th>Pressure</th>
                <th>Visibility</th>
                <th>cloudcover</th>
                <th>Solarradiation</th>
                <th>Solarenergy</th>
                <th>UVindex</th>
                <th>Severerisk</th>
                <th>Conditions</th>

          
            </tr>
            {% for hour in all_data %}
            <tr>
                <td>{{ hour.datetimeEpoch }}</td>
                <td>{{ hour.datetime }}</td>
                <td>{{ hour.temp }}</td>
                <td>{{ hour.feelslike }}</td>
                <td>{{ hour.humidity }}</td>
                <td>{{ hour.dew }}</td>
                <td>{{ hour.precip }}</td>
                <td>{{ hour.precipprob }}</td>
                <td>{{ hour.snow }}</td>
                <td>{{ hour.snowdepth }}</td>
                <td>{{ hour.preciptype }}</td>
                <td>{{ hour.windgust }}</td>
                <td>{{ hour.windspeed }}</td>
                <td>{{ hour.winddir }}</td>
                <td>{{ hour.pressure }}</td>
                <td>{{ hour.visibility }}</td>
                <td>{{ hour.cloudcover }}</td>
                <td>{{ hour.solarradiation }}</td>
                <td>{{ hour.solarenergy }}</td>
                <td>{{ hour.uvindex }}</td>
                <td>{{ hour.severerisk }}</td>
                <td>{{ hour.conditions }}</td>





            </tr>
            {% endfor %}
        </table>








    </div>
</body>
</html>